th {
    background-color: blue;
    height: 30pt;
}

td {
    text-align: center;
    font-size: 20pt;
}

.game_state_row {
    background-color: #fbff00;
    height: 30pt;
    font-size: large;
}

.round_row {
    background-color: rgb(248, 124, 7);
    height: 20pt;
    font-size: medium;
}

.plus_row {
    font-size: smaller;
    height: 80pt;
    background-color: rgb(34, 245, 6);
}

.minus_row {
    font-size: smaller;
    height: 80pt;
    background-color: rgb(245, 6, 6);
}

.input_number {
    height: 70pt;
    width: 90%;
    font-size: 40pt;
    text-align: center;
}