<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/styles.css?version=4" />
    <style type="text/css">
      .chart{
          margin-top: 30px;
          text-align: center;
      }
    </style>
  </head>
<body>

  <!-- <h1>Current count of Player: {{content}}</h1>
  <form action="/game_change" method="get">
      <input type="range" name="player_range" min="2" max="10" default="3"/>
      <input type="submit" value="Spieler Anzahl senden" />
  </form>  -->
  <form action="/game_change" method="get">
    <!-- <select name="game">
      <option>Demo Spiel</option>
    </select>
    <select name="game">
      <option>Neues Spiel erstellen</option>
      <option>Spiel laden</option>
      <option>Spiel löschen</option>
    </select> -->
    <!-- session-NAME and session-RESET -->
    <p>Session-Name:
      <input type="text" value="session_name" name="session_name"/>
      <input type="submit" value="Reset Session" name="btn_game"/>
    </p>
  </form>

  <!-- PLOT CHART -->
  <div id="chart" class="chart"></div>

  <!-- TABLE -->
  <form action="/game_change" method="get">
    <table style="width:100%">
      <!-- BUTTON: REFRESH GAME-STATE -->
      <tr>
        <td colspan={{count_cols+2}} style="height: 40pt;">
          <input type="submit" value="Aktualisieren" name="btn_calc" style="width:100%;height:100%;"/>  
        </td>
      </tr>
      <!-- BUTTON: NEW GAME-ROUND -->
      <tr>
        <td colspan={{count_cols+2}} style="height: 40pt;">
          <input type="submit" value="Neue Runde" name="btn_newRound" style="width:100%;height:100%;"/>  
        </td>
      </tr>
      <tr>
        <!-- ROW: HEADER -->
        {% set i = namespace(value=0) %}
        <th>RUNDE</th>
        <th></th>
        {% for header in player_heading %}
        {% set i.value = i.value + 1 %}
        <th>
          <input type="text" placeholder = "Spieler{{i.value}}" value={{ header }} name="player_{{i.value}}" class="input_number"/>
          <!-- <input type="submit" value="Lösche {{ header }}" name="btn_del_player" style="width:100%;height:100%;"/>   -->
        </th>
        {% endfor %}
        <!-- COLUMN: NEW-PLAYER -->
        <td rowspan={{count_rows}}>
          <input type="submit" value="Neuer Spieler" name="btn_newPlayer" style="width:100%;height:100px;"/>
        </td>
      </tr>
      {% for i_g in range(data|length-1, -1, -1) %}
        <!-- ROW: GAME-STATE -->
        <tr class="game_state_row">
          <td rowspan="4">{{ i_g + 1 }}</td>
          <td>SPIELSTAND</td>
          {% for p in data[i_g]['game_points'] %}
          <td>{{ p }}</td>
          {% endfor %}
        </tr>
        <!-- ROW: GAME-ROUND -->
        <tr class="round_row">
          <td>RUNDE</td>
          {% for p in data[i_g]['round_points'] %}
          <td>{{ p }}</td>
          {% endfor %}
        </tr>
        <!-- ROW: MINUS -->
        <tr class="minus_row">
            <td>Minus</td>
            {% set i = namespace(value=0) %}
            {% for player_val in data[i_g]['minus_points'] %}
            {% set i.value = i.value + 1 %}
            <td>
              <input type="number" placeholder="000" value="{{ player_val }}" name="{{ i_g+1 }}_minus_{{ i.value }}_cell" class="input_number"/>
            </td>
            {% endfor %}
        </tr>
        <!-- ROW: PLUS -->
        <tr class="plus_row">
            <td>Plus</td>
            {% set i = namespace(value=0) %}
            {% for player_val in data[i_g]['plus_points'] %}
            {% set i.value = i.value + 1 %}
            <td>
              <input type="number" placeholder="000" value="{{ player_val }}" name="{{ i_g+1 }}_plus_{{ i.value }}_cell" class="input_number"/>
            </td>
            {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </form>

  <div>
    <h3>Version 1.1</h3>
    <h3>Feedback: chr.dahmen@outlook.de</h3>
  </div>

</body>

<!-- PLOT -->
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Plotly.js -->
<script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript"> 
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart', graphs, {});
</script>

</html>